.forSearch {
  display: flex;
  flex-direction: column;
}

.forSearch input {
  padding: 0.4rem 0.5rem;
  max-width: 192px;
  border: 1px solid rgb(219, 231, 255);
  box-shadow: 0px 0px 2px rgb(126, 168, 252);
  outline: rgb(219, 231, 255);
  margin-top: 1rem;
  margin-left: 4rem;
}
